.calendar-paper {
  margin: 0px 10px 0px 10px;
  font-weight:  500!important;
}

.calendar {
  text-align: center;
  background-size: cover;
  font-weight:  500!important;
}
.top {
  display: flex;
  justify-content: center;
  height: 60px!important;
  margin-bottom:24px!important;
}
.previous {
  cursor: pointer;
  text-align: right!important;
  padding-top: 10px!important;
}

.previous:hover {
  color: #fff;
}

.next {
  cursor: pointer;
  padding-top: 10px!important;
}

.next:hover {
  color: #fff;
}

.holidays {
  color: #C1C1EA;
  font-weight:  500!important;   
}

.today {
  color: blue;
  font-weight:  500!important;
  
}

.futureDay {
  color:#ffffff!important;
  font-weight: 500!important;
  cursor: pointer;
  text-align:center!important;
  padding: 16px!important;
  border-width: 0px;
  border-bottom-width: 2;
}

.futureDay:hover {
  color: #d5def7!important;
  font-weight:  500!important;
}

.pastdate {
  color:#C1C1EA!important;
  font-weight: 500!important;
  cursor: pointer;
  text-align:center!important;
  border-width: 0px;
  padding: 0px!important;
}
.pastdate:hover {
  color: #C1C1EA!important;
  font-weight:  500!important;
}

.header-month {
  color: #ffffff;
}

.header-year {
  position: relative;
  margin-left: 10px;
  font-weight:  500!important;
  color: #ffffff;
}
.calendarHeader {
  order: 2;
  font-weight:  600!important;
  color: #ffffff;
  font-family: monospace;
  font-size: 1.6rem;
}
.calendarHeader:hover {
  color: #ada9a9;
  font-weight:  500!important;
}
#header-position {
  display: flex;
  justify-content: center;
  font-weight: 700!important;
  color: #ffffff;  
}
.meetingTitle{
  height: 40px;
}
.header-only-year {
  position: relative;
}
.month-tableCell:hover {
  color: #d5def7;
}
.thisMonth {
  color: blue
}
.month {
  width: 600px;
  margin-left: 45%;
  font-weight:  500!important;
  color: #ffffff;
}

.clear {
  left: 80%;
}
.jss111{
  text-align: center!important;
}

table 
{
    table-layout:fixed;
    width:100%;
    background-color: #5254CB;
    
}
td {
  border-bottom: none !important;
}
th {
  border-bottom: none !important;
  color: #ffffff!important;
}
.App, body, html {
  height: 100%;
  margin: 0px;
  background-color:#f0effd; 
  border: 1px solid transparent;
  overflow: hidden;
}
.elipse-text {
    height: 24px;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    background-color: #ffffff!important;
    color: #5254CB;
    margin: 0 13px 0 14px!important;
}
.days{
  box-shadow: none;
}
.leftContainer 
{
  background-color: #5254CB;
}
.scrollbarInnerContainer 
{
  background-color: #ffffff;
}
.rightContainer
{
}
.avtarContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 45px 0 10px 0;
}
.buttonContainer {
  flex-grow: 100;
  padding: 3px 3px 3px 9%;
  display: flex;
  float: left;
  width: 100%;
}
.slotsButtonContainer {
  flex-grow: 100;
  padding: 3px;
  margin-left:9%;
}
.toggleSlotButtonLeft {
  background-color: #f9fbfc!important;
  width: 30%!important;
  font-size: 0.80em!important;
  padding: 6px 4px!important;
  min-height: 24px!important;
  border-radius: 5px 0px 0px 5px!important;
  text-transform: none!important;
}

.toggleSlotButtonLeft:hover {
  background-color: #ffffff!important;
}

.toggleSlotButtonRight {
  background-color: #f9fbfc!important;
  width: 30%!important;
  font-size: 0.80em!important;
  padding: 6px 4px!important;
  min-height: 24px!important;
  border-radius: 0px 5px 5px 0px!important;
  text-transform: none!important;
}

.toggleSlotButtonRight:hover {
  background-color: #ffffff!important;
}

.slotButton{
  border-radius: 2px;
  border: 2px solid #427cc4;
  background-color: #427cc4;
  width: 94%;
  text-transform: none!important;
  height: 50px;
}
.typographyText {
  font-size: 0.7em!important;
  font-weight: 600!important;
  text-align: left;
  color: #8385ff!important;
  padding: 0 0 0% 5%;
}
.scrollContent{
  height: 44vh!important;
  width: 92%!important;
}
.slotContent{
  max-height: 60%!important;
}
.daysTable{
  width: 99%;
}
.mainContainer {
  width: 60%!important;
  background-color: transparent!important;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
}

.closeTimeZoneSelector{
  opacity: 0.6;
  width: 18;
  height: 18;
}

.headerTimeZoneSelector{
  border-bottom: 1px solid #e1e4e8;
  padding: 8px 10px;
  font-weight: 600;
  text-align: right;
}

.appTitle{
  font-size: 3.5rem!important;
  text-align: center;
  font-weight: 500!important;
  margin: 10px 0 10px 0!important;
  color: #0a3a81!important;
}

.innerContainer {
  width: 100%;
  height:100%!important;
}

.popper {
  border: 1px solid rgba(27,31,35,.15);
  box-shadow: 0 3px 12px rgba(27,31,35,.15);
  width: 250px;
  z-index: 1;
  font-size: 13;
  color: #586069;
  background-color: #f6f8fa;
}

.timeZoneSelector {
  font-size: 1rem;
  width: 78%;
  text-align: left;
  padding: 5px 0px 10px 0!important;
  margin-left: 9%!important;
  color: #91c5c3!important;
  font-weight: 550;
}

.timeZoneSelector:hover {
  color: #0366d6;
}
.timeZoneSelector:focus {
  color: #0366d6;
}
.timeZoneSelector span {
  width: 100%;
}
.timeZoneSelector:svg {
  width: 16px;
  height: 16px;
}
.typographyh4 {
  font-size: 1.4rem!important;
  font-style: normal;
  font-weight: 550!important;
  text-align: center;
  color: #ffffff!important;
  line-height: 50px!important;
}
.monthContainer{  
  display: flex;
  justify-content: center;
  height: 40px;
  margin-bottom: 24px!important;
  font-size: 1.4rem!important;
  font-weight: 550!important;
  color: #ffffff!important;
}

.leftContainerOpen{
  display: none!important;
}
.leftContainerClose{
  display: block!important;
}
.rightContainerOpen{
  display: none!important;
}
.rightContainerClose{
  display: none!important;
}
.hideBackButton{
  display: block!important;
}
.showBackButton{
  display: block!important;
}

.toggleCalendarButton {
  background-color: #f9fbfc!important;
  width: 30%!important;
  font-size: 0.75em!important;
  padding: 6px 4px!important;
  min-height: 24px!important;
  border-radius: 5px 0px 0px 5px!important;
  text-transform: none!important;
  margin: 15px 0 15px 3px!important;
}

.footerText {
  font-size: 0.65rem;
  color: #1e615f!important;
  font-weight: 550;
  justify-content: center;
  display: flex;
  padding:10px 0 10px 0;
  background-color: #f4f4fc!important;  
}

.footerText a:link, .footerText a:visited {
  color: #2fa8a4!important;
  text-decoration: none;
}

@media only screen and (max-width: 1024px) {
  .mainContainer {
    width: 100%!important;
    justify-content: center;
    display: flex!important;
  }
  .scrollContent{
    height: 22vh!important;
  }
}


@media only screen and (min-width: 1024px) {
  .holidays {
    text-align: center!important;
  }
  .elipse-text {
      height: 23px;
      line-height: 23px;
      width: 23px;
      text-align: center;
      vertical-align: middle;
      border-radius: 50%!important;
      background-color: #ffffff!important;
      color: #5254CB;
      margin: 0 0 0 1px!important;
  }
  .hideBackButton{
    display: none!important;
  }
  .leftContainerOpen{
    display:block!important;
  }
  .rightContainerOpen{
    display:block!important;
  }  
  .rightContainerClose{
    display:block!important;
  }
}

@media only screen and (max-width: 768px) {
  .elipse-text {
      height: 24px;
      line-height: 24px;
      text-align: center;
      vertical-align: middle;
      border-radius: 50%!important;
      background-color: #ffffff!important;
      color: #5254CB;
      margin: 0 0px 0 0px!important;
  }
  .scrollContent{
    height: 332px!important;
  }
  .scrollbarInnerContainer {
    background-color: #ffffff;
    margin-left: 0%;
  }
  .timeZoneSelector {
    font-size: 1rem;    
    margin-left: 9%!important;
  }
  .timeZoneSelector span {
    width: 90%;
  }
  .mainContainer {
    width: 100%!important;
    background-color: transparent!important;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    height: 100%;
    min-height: 100%;
  }  
  .hideBackButton{
    display: none!important;
  }
  .leftContainerOpen{
    display:block!important;
  }
  .rightContainerOpen{
    display:block!important;
  }
  .rightContainerClose{
    display:block!important;
  }
  .calendarHeader {
    font-size: 1.5rem;
  }
  .typographyh4 {
    font-size: 1.5rem!important;
  }
  .showBackButton{
    display: block!important;
  }
}


@media only screen and (max-width: 767px) {
  
  .mainContainer {
    width: 100%!important;
    background-color: transparent!important;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    height: 100%;
    min-height: 100%;
  }
  .appTitle {
    font-size: 2.0rem!important;
    margin: 0px 0 0px 0!important;
  }
  .timeZoneSelector {
    font-size: 1rem;
    width: 70%;
  }  
  .hideBackButton{
    display: none!important;
  }
  .leftContainerOpen{
    display:block!important;
  }
  .rightContainerOpen{
    display:block!important;
  }
  .rightContainerClose{
    display:none!important;
  }
  .scrollContent{
    height: 332px!important;
  }
  .calendarHeader {
    font-size: 1.5rem;
  }
  .typographyh4 {
    font-size: 1.5rem!important;
  }
}

@media only screen and (max-width: 600px) {
  .elipse-text {
      height: 24px;
      line-height: 24px;
      text-align: center;
      vertical-align: middle;
      border-radius: 50%!important;
      background-color: #ffffff!important;
      color: #5254CB;
      margin: 0 16px 0 15px!important;
  }
  .typographyh4{
    font-size: 0.9rem
  }
  .hideBackButton{
    display: block!important;
  }
  .leftContainerOpen{
    display:none!important;
  }
  .calendarHeader {
    font-size: 1.5rem;
  }
  .typographyh4 {
    font-size: 1.5rem!important;
  }
}

@media only screen and (max-width: 480px) {
  .elipse-text {
      height: 24px;
      line-height: 24px;
      text-align: center;
      vertical-align: middle;
      border-radius: 50%!important;
      background-color: #ffffff!important;
      color: #5254CB;
      margin: 0px 0 0 2px!important;
  }
  .daysTable{
    width: 99%;
  }
  .leftContainer{
    background-color: #5254CB;
  }
  .calendarHeader {
    font-size: 1.3rem;
  }
  .typographyh4 {
    font-size: 1.3rem!important;
  }
}

@media only screen and (max-width: 414px) {
  .elipse-text {
      height: 24px;
      line-height: 24px;
      text-align: center;
      vertical-align: middle;
      border-radius: 50%!important;
      background-color: #ffffff!important;
      color: #5254CB;
      margin: 0px 0 0 2px!important;
  }
  .scrollContent {
    height: 53vh!important;
  }
  .calendarHeader {
    font-size: 1.3rem;
  }
  .typographyh4 {
    font-size: 1.3rem!important;
  }
}

@media only screen and (max-width: 411px) {
  .elipse-text {
      height: 24px;
      line-height: 24px;
      text-align: center;
      vertical-align: middle;
      border-radius: 50%!important;
      background-color: #ffffff!important;
      color: #5254CB;
      margin: 1px 16px 0 16px!important;
  }
  .scrollContent {
    height: 57vh!important;
  }
  .calendarHeader {
    font-size: 1.3rem;
  }
  .typographyh4 {
    font-size: 1.3rem!important;
  }
}

@media only screen and (max-width: 375px) {
  .elipse-text {
      height: 24px;
      width: 24px;
      line-height: 24px;
      text-align: center;
      vertical-align: middle;
      border-radius: 50%!important;
      background-color: #ffffff!important;
      color: #5254CB;
      margin: 0px 0px 0 0px!important;
  }
  .scrollContent {
    height: 49vh!important;
  }
  .calendarHeader {
    font-size: 1.2rem;
  }
  .typographyh4 {
    font-size: 1.2rem!important;
  }
}

@media only screen and (max-width: 360px) {
  .elipse-text {
      height: 24px;
      line-height: 24px;
      width: 24px;
      text-align: center;
      vertical-align: middle;
      border-radius: 50%!important;
      background-color: #ffffff!important;
      color: #5254CB;
      margin: 0px 0px 0 0px!important;
  }
  .timeZoneSelector {
    font-size: 14px;
    margin-left: 9%!important;
    width: 80%;
  }
  .scrollContent {
    height: 54vh!important;
  }
  .mainContainer {
    display:flex;
    width: 100%!important;
    justify-content: center;
  }
  .calendarHeader {
    font-size: 1.2rem;
  }
  .typographyh4 {
    font-size: 1.2rem!important;
  }
}

@media only screen and (max-width: 320px) {
  .elipse-text {
      height: 24px;
      line-height: 24px;
      text-align: center;
      vertical-align: middle;
      border-radius: 50%!important;
      background-color: #ffffff!important;
      color: #5254CB;
      margin: 0px 12px 0 10px!important;
  }
  .scrollContent {
    height: 42vh!important;
  }
  .calendarHeader {
    font-size: 1.2rem;
  }
  .typographyh4 {
    font-size: 1.2rem!important;
  }
}

.dayHeaderCell{
  color:#ffffff!important;
  font-weight: 500!important;
  cursor: pointer;
  text-align:center!important;
  padding: 0px 0px 0px 0px!important;
}

.dayHeaderCellHolidays{
  text-align:center!important;
  padding:0px!important;
}